html,
body {
  height: 100%;
}

body {
  background: black;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
}

#content {    
  display: grid;
  grid-template-rows: max-content max-content;
  gap: 15px;
  max-width: 360px;
  margin: 0 auto;
  height: 100%;
}

.header {
  grid-column: 1 / -1;
  text-align: center;
  padding: 15px;
  font-size: xx-large;
  border-bottom: 1px white dashed;
}

.pac-target-input {
  width: auto;
  display: block;
}

.results {
  text-align: center;
}

.hidden {
  display: none;
}

.results > div {
  margin-bottom: 20px;
}

.tempDiv > span {
  margin-right: 7px;
}

button {
  background-color: black;
  border: white 1px solid;
  border-radius: 4px;
  color: wheat;
  line-height: 18px;
  margin-right: 10px;
}